*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    font-weight: lighter;
}

.topo {
    width: 100%;
    position: fixed;
    background-color: #fff;
    padding: 20px 40px;
}

.topo_conteudo {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.topo_conteudo_logo {
    flex: 1 1 60%;
    font-size: 24px;
    padding-left: 30px;
}

.topo_conteudo_links {
    padding: 0 30px;
    flex: 1 0 15px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.topo_conteudo_logo a {
    text-decoration: none;
    color: #3d3d3d;
}

.topo_conteudo_logo span {
    color: #6592c9;
}

.topo_conteudo_links a{
    color: #3d3d3d;
    text-decoration: none;

}

/* BANNER DE FUNDO */


.container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 50px 20px;
    text-align: center;
    color: #3d3d3d;
}

.main {
    height: 800px;
    background-image: url('/assets/img-fundo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
.main_texto {
    color: #fff;
    background-color: #0a9077b3;
    font-size: 28px;
    border: 1px solid white;
    border-radius: 4px;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}


/* QUARTOS */
.quartos_intro h2 {
    padding-bottom: 40px;
}

.quartos_intro p {
    padding-bottom: 40px;
}

.quartos_expo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.quartos_expo img {
    width: 250px;
    padding-bottom: 25px;
}

.quartos_expo p {
    padding-bottom: 30px;
    border-bottom: 2px solid #00836a;
    font-weight: bold;
    color: #3d3d3d;
}

.quartos_expo a {
   text-decoration: none;
}

.rotas_descricao {
    color: #3d3d3d;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sobre_descricao {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    max-width: 1024px;
    margin: 0 auto;
}

.card {
    flex: 1 0 350px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    text-align: left;
    background-color: #f1f1f1;
}

.card_descricao {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.card_imagem {
    width: 30%;
    height: 100%;
}

.card_imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* footer  */


.footer {
    background-color: #49997d;
    color: #fff;
}

.footer_principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
    padding: 30px 60px ;
}

.card_footer {
    flex: 1 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_footer h4 {
    font-size: 22px;
}

.card_footer a {
    display: flex;
    align-items: center;
    color: #fff;
    text-align: left;
    text-decoration: none;
}

.card_footer p {
    margin-left: 10px;
}

.card_footer img {
    width: 40px;
    height: 40px;
}

.footer_copyright {
    padding: 20px;
    font-weight: 600;
    text-align: center;
    border-top: 1px solid #3b7863;
    margin: 0 55px
} 